@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$primary-color: #005a91;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 5%);

$white: #ffffff;
$white-dark: darken($white, 5%);

$secondary-color: #262e3e;
$success-color: #388E3C;
$error-color: #D32F2F;
$link-color: #005a91;

html, body {
  margin: 0;
  padding: 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  background: #FFFFFF;
  line-height: 1.5;

  @media all {
    font-size: 15px;
  }
}

.content {
  @media all and (max-width: 768px) {
    width: 95%;
  }
  @media all and (min-width: 769px) and (max-width: 1100px) {
    width: 90%;
  }
  @media all and (min-width: 1101px) {
    width: 90%;
    max-width: 1300px;
  }
  margin: 25px auto 0;
}

.mobile {
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.desktop {
  @media screen and (max-width: 769px) {
    display: none;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

// headings
h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 46px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

strong {
  font-weight: 500;
}

// button
.button {
  font-size: 14px;
  font-weight: 500;
  background: white;
  padding: 10px 20px;
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
  text-align: center;

  &:not(:first-child) {
    margin-left: 20px;
  }

  &:hover {
    background: $white-dark;
  }

  &.primary {
    background: $primary-color;
    color: white;

    &:hover {
      background: $primary-color-dark;
    }
  }
}

.block {
  display: block;
}

.message {
  padding: 10px 20px;
  border: 1px solid #dedede;
  border-left-width: 5px;

  a {
    font-weight: 500;
  }

  &.information {
    border-color: #005a91;
  }

  &.error {
    border-color: #D40000;
  }

  &.success {
    border-color: #039000;
  }

  &.warning {
    border-color: #ff8000;
  }
}

.grid {
  @media all and (min-width: 769px) {
    display: grid;
    grid-row-gap: 20px;
  }

  &.grid-2 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 20px;
  }

  &.grid-4 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    grid-column-gap: 20px;
  }

  &.grid-5 {
    grid-template-columns: repeat(5, calc(20% - 16px));
    grid-column-gap: 20px;
  }

  &.stretch {
    justify-items: stretch;
    align-items: stretch;
  }
}

form {
  .formInputContainer {
    label, input, select {
      display: block;
      box-sizing: border-box;
      width: 100%;
    }

    .formFieldContainer {
      @media all and (max-width: 768px) {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }

  .formInputRequired {
    color: #D40000;
  }

  .formSubmit {
    text-align: center;
  }

  input, select {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #b1b1b1;
  }

  input {
    &:focus {
      border-color: $primary-color;
    }
  }

  .formError {
    label {
      color: #D40000;
    }
    input, select {
      border-color: #D40000;
    }
    .formErrorDescription {
      display: block;
      padding: 6px 20px 4px;
      background: #D40000;
      color: white;
    }
  }

  .formWarning {
    display: block;
    padding: 6px 20px 4px;
    background: #ff8000;
    color: white;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0 0;

  thead {
    color: $primary-color;
    font-weight: 500;
    > tr {
      > td {
        border-bottom: 1px solid $primary-color;
        border-collapse: separate;
        border-spacing: 5px 5px;

        > span {
          margin-left: 10px;
        }
      }
    }
  }
  tbody {
    > tr {
      > td {
        border-collapse: separate;
        border-spacing: 5px 5px;
        border-bottom: 1px solid #eeeeee;
      }
    }
  }
  tr {
    td {
      &:not(:last-child) {
        border-right: 1px solid $primary-color;
      }
    }
  }
}

.loaderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .loaderOverlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    width: inherit;
    height: inherit;

    .loader {
      background: rgba(255, 255, 255, 0.7);
      width: 64px;
      height: 64px;
      display: inline-block;
      border-radius: 50%;
      border-top: 3px solid $primary-color;
      border-right: 3px solid transparent;
      top: 100px;
      left: calc(50% - 32px);
      box-sizing: border-box;
      position: absolute;
      animation: rotation 1s linear infinite;
    }
  }
}

.dialog-container {
  &:not(.closed) {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &.closed {
    display: none;
  }
  &.database-offline-container {
    .dialog {
      .dialog-header {
        background: #D40000;
      }
    }
  }
  display: flex;

  .dialog {
    animation: dialogFadeIn 0.3s;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    z-index: 1010;

    position: fixed;

    &:not(.small) {
      top: 0;
      left: 50%;

      width: 97%;
      height: 92%;
    }
    &.small {
      top: 0;
      left: 50%;

      width: 500px;
      max-width: 95%;
    }
    background: $white;

    .dialog-header {
      &.error {
        background: #D40000;
      }
      background: $primary-color;
      color: #fff;
      display: grid;
      grid-template-columns: auto 50px;
      padding: 20px 25px;
      font-weight: 500;
      .description {
        margin-top: 7px;
        display: block;
        font-weight: normal;
      }
      .close-dialog {
        text-align: right;
        > i {
          cursor: pointer;
        }
      }
    }
    .dialog-body {
      padding: 20px 25px;
    }
    .dialog-footer {
      border-top: 1px solid #ccd1dd;
      padding: 20px 25px;
    }
  }
}

@keyframes dialogFadeIn {
  0% {
    transform: translate(-50%, 80px) scale(0);
  }
  100% {
    transform: translate(-50%, 80px) scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
